#  ${systemCfg['infostamp']()}
% if generatorCfg['FOO_BAR'].getboolean('say_hello'):
Hello!
Try to change the custom value in Package.inf, reload the generator and run again!
% else:
No 'Hello!' this time!
Try to change the custom value in Package.inf, reload the generator and run again!
% endif

value: ${generatorCfg['FOO_BAR'].getboolean('say_hello')}
